body {
  width: auto;
  height: auto;
  margin: 0%;
  margin: auto;
  font-family: Karla, Helvetica, Arial, sans-serif;
  font-size: small;
  animation-name: backgroundcolour;
  animation-duration: 30s;
  animation-delay: 4s;
  animation-iteration-count: infinite;
  color: #ec0b0b;
}

@keyframes backgroundcolour {
0% {
  background-color: #f4c4c4;
}
25% {
  background-color: #059191;
}
50% {
  background-color: rgb(219, 142, 165);
}
70% {
  background-color: rgb(163, 215, 228);
}
100% {   
  background-color: rgba(239, 179, 245, 0.822);
}

}


.card {
background-color: hsl(193, 55%, 82%); 
border: #0f0f0f;
}



.footer-clean {
padding:10px;
color:#fbf8f8;
}

.footer-clean h3 {
margin-top:0;
margin-bottom:12px;
font-weight:bold;
font-size:16px;
font-family: Karla, Helvetica, Arial, sans-serif;
font-colour: white ;
  font-size: small;
  animation-name: backgroundcolour;
  animation-duration: 30s;
  animation-delay: 4s;
  animation-iteration-count: infinite;
}

.footer-clean ul {
padding:0;
list-style:none;

font-size:14px;
margin-bottom:0;
}

.footer-clean ul a {
text-decoration:none;
opacity:0.8;
}

.footer-clean ul a:hover {
opacity:1;
}

.footer-clean .item.social > a:hover {
opacity:0.9;
}



