body {
  width: auto;
  height: auto;
  margin: 0%;
  background-color: hsl(180, 59%, 61%);
  transition: 5s;
  font-family: sans-serif;
  color: #ec0b0b;
}

@keyframes backgroundcolour {
0% {
  background-color: #f4c4c4;
}
25% {
  background-color: #059191;
}
50% {
  background-color: rgb(190, 152, 190);
}
70% {
  background-color: rgb(186, 189, 85);
}
100% {   
  background-color: rgba(155, 237, 211, 0.822);
}

}


.card {
background-color: hsl(193, 55%, 82%); 
border: #0f0f0f;
}



.footer-clean {
padding:10px;
background-color:#8fdcd7;
color:#fbf8f8;
}

.footer-clean h3 {
margin-top:0;
margin-bottom:12px;
font-weight:bold;
font-size:16px;
}
.footer-clean ul {
padding:0;
list-style:none;

font-size:14px;
margin-bottom:0;
}

.footer-clean ul a {
color:inherit;
text-decoration:none;
opacity:0.8;
}

.footer-clean ul a:hover {
opacity:1;
}

.footer-clean .item.social > a:hover {
opacity:0.9;
}



